﻿@using System.Text.RegularExpressions;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@{
    var user = Diplom2.Models.DB.GetUserNames();
    int[] ids = new int[user.Count];
    for (int i = 0; i < user.Count; i++)
    {
        ids[i] = user[i].id;
    }
    string jsonString = JsonSerializer.Serialize(ids);
    for (int j = 0; j < user.Count; j++)
    {
        var usdata = Diplom2.Models.DB.GetUserData(user[j].id);
        var orders = Diplom2.Models.DB.GetAllOrder(user[j].id);
        var bakets = Diplom2.Models.DB.GetAllBaket(user[j].id);
        var samples = Diplom2.Models.DB.GetAllSample(user[j].id);
        <div class="text-center">
            <h1 class="display-4">Профіль</h1>
        </div>
        <div>@usdata.Name</div>
        <div>@usdata.Login</div>
        <p></p>
        <section class="text-center mb-4">
            <div class="row wow fadeIn">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div>
                        <strong>Замовлення</strong>
                        @{for (int i = 0; i < orders.Count; i++)
                            {
                                <div>
                                    <div>-------------------------------</div>
                                    <div>Номер: @orders[i].id,</div>
                                    <div>Адреса: @orders[i].Adress,</div>
                                    <div>Ціна: @orders[i].Total_price,</div>
                                    <div>Дата: @orders[i].Data_in,</div>
                                    <div>Номер кошика: @orders[i].id_baket</div>
                                    <div>-------------------------------</div>
                                </div>
                            }
                        }
                    </div>
                    <select id="ord-@usdata.id" size="1" name="sho">
                        <option disabled>Замовлення</option>
                        @{ for (int i = 0; i < orders.Count; i++)
                            {
                                <option value="@orders[i].id">@orders[i].id</option>
                            }
                        }
                    </select>
                    <input type="button" id="delet-@usdata.id" value="Видалити" />
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div>
                        <strong>Кошики</strong>
                        @{for (int i = 0; i < bakets.Count; i++)
                            {
                                <div>
                                    <div>-------------------------------</div>
                                    <div>Номер: @bakets[i].id,</div>
                                    <div>Ціна: @bakets[i].Price_baket,</div>
                                    <div>-------------------------------</div>
                                </div>
                            }
                        }
                    </div>
                    <select id="bak-@usdata.id" size="1" name="sho">
                        <option disabled>Кошики</option>
                        @{ for (int i = 0; i < bakets.Count; i++)
                            {
                                <option value="@bakets[i].id">@bakets[i].id</option>
                            }
                        }
                    </select>
                    <input type="button" id="deletb-@usdata.id" value="Видалити" />
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div>
                        <strong>Шаблони піц</strong>
                        @{for (int i = 0; i < samples.Count; i++)
                            {
                                <div>
                                    <div>-------------------------------</div>
                                    <div>Номер: @samples[i].id,</div>
                                    <div>Ціна: @samples[i].Price,</div>
                                    <div>Назва піци: @Diplom2.Models.DB.GetPizzaName(samples[i].id_pizza)</div>
                                    <div>-------------------------------</div>
                                </div>
                            }
                        }
                    </div>
                    <select id="sam-@usdata.id" size="1" name="sho">
                        <option disabled>Піци</option>
                        @{ for (int i = 0; i < samples.Count; i++)
                            {
                                <option value="@samples[i].id">@samples[i].id</option>
                            }
                        }
                    </select>
                    <input type="button" id="delets-@usdata.id" value="Видалити" />
                </div>
            </div>
        </section>
    }
    @section scripts
        {
        <script>
            let ids = [ @jsonString ]
            console.log(ids[0].length)
            for (let i = 0; i < ids[0].length; i++) {
                $(`#delet-${ids[0][i]}`).click(function () {
                    var id = $(`#ord-${ids[0][i]}`).val()
                    var date = { id: id }
                    $.post("/User/DeletOrder", date)
                });
                $(`#deletb-${ids[0][i]}`).click(function () {
                    var id = $(`#bak-${ids[0][i]}`).val()
                    var date = { id: id }
                    $.post("/User/DeletBaket", date)
                });
                $(`#delets-${ids[0][i]}`).click(function () {
                    var id = $(`#sam-${ids[0][i]}`).val()
                    var date = { id: id }
                    $.post("/User/DeletSample", date)
                });
            }
        </script>
    }
}
