﻿@model Diplom2.Models.SingViewModel

<h2>Вхід на сайт</h2>

@{ if (User.Identity.IsAuthenticated)
    {
    <div>Вже авторизований, @Diplom2.Models.DB.GetAuthUserName(User.Identity.Name)</div>
                <div>
                    <a asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                </div>
                }
            else
            {
<form asp-action="Authorization" asp-controller="User" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Login">Введіть Email</label>
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введіть пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Увійти" class="btn btn-outline-dark" />
        </div>
    </div>
</form> } }

