﻿@using System.Text.RegularExpressions;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@{
    var user = @Model;
    var usdata = Diplom2.Models.DB.GetUserData(user);
    var orders = Diplom2.Models.DB.GetAllOrder(user);
    var bakets = Diplom2.Models.DB.GetAllBaket(user);
    var samples = Diplom2.Models.DB.GetAllSample(user);
}
<div class="text-center">
    <h1 class="display-4">Профіль</h1>
</div>
<div>@usdata.Name</div>
<div>@usdata.Login</div>
<p></p>
<section class="text-center mb-4">
    <div class="row wow fadeIn">
        <div class="col-lg-3 col-md-6 mb-4">
            <div>
                <strong>Замовлення</strong>
                @{for (int i = 0; i < orders.Count; i++)
                    {
                        <div>
                            <div>-------------------------------</div>
                            <div>Номер: @orders[i].id,</div>
                            <div>Адреса: @orders[i].Adress,</div>
                            <div>Ціна: @orders[i].Total_price,</div>
                            <div>Дата: @orders[i].Data_in,</div>
                            <div>Номер кошика: @orders[i].id_baket</div>
                            <div>-------------------------------</div>
                        </div>
                    }
                }
            </div>
            <select id="ord" size="1" name="sho">
                <option disabled>Замовлення</option>
                @{ for (int i = 0; i < orders.Count; i++)
                    {
                        <option value="@orders[i].id">@orders[i].id</option>
                    }
                }
            </select>
            <input type="button" id="delet" value="Видалити" />
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div>
                <strong>Кошики</strong>
                @{for (int i = 0; i < bakets.Count; i++)
                    {
                        <div>
                            <div>-------------------------------</div>
                            <div>Номер: @bakets[i].id,</div>
                            <div>Ціна: @bakets[i].Price_baket,</div>
                            <div>-------------------------------</div>
                        </div>
                    }
                }
            </div>
            <select id="bak" size="1" name="sho">
                <option disabled>Кошики</option>
                @{ for (int i = 0; i < bakets.Count; i++)
                    {
                        <option value="@bakets[i].id">@bakets[i].id</option>
                    }
                }
            </select>
            <input type="button" id="deletb" value="Видалити" />
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div>
                <strong>Шаблони піц</strong>
                @{for (int i = 0; i < samples.Count; i++)
                    {
                                <div>
                                    <div>-------------------------------</div>
                                    <div>Номер: @samples[i].id,</div>
                                    <div>Ціна: @samples[i].Price,</div>
                                    <div>Назва піци: @Diplom2.Models.DB.GetPizzaName(samples[i].id_pizza)</div>
                                    <div>-------------------------------</div>
                                </div>
                    }
                }
            </div>
            <select id="sam" size="1" name="sho">
                <option disabled>Піци</option>
                @{ for (int i = 0; i < samples.Count; i++)
                    {
                        <option value="@samples[i].id">@samples[i].id</option>
                    }
                }
            </select>
            <input type="button" id="delets" value="Видалити" />
        </div>
    </div>

    @section scripts
        {
        <script>
            $("#delet").click(function () {
                var id = $('#ord').val()
                var date = { id: id }
                $.post("/User/DeletOrder", date)
            })
        </script>
        <script>
            $("#deletb").click(function () {
                var id = $('#bak').val()
                var date = { id: id }
                $.post("/User/DeletBaket", date)
            })
        </script>
        <script>
            $("#delets").click(function () {
                var id = $('#sam').val()
                var date = { id: id }
                $.post("/User/DeletSample", date)
            })
        </script>

    }
</section>