﻿<h2>Каталог нашої смачної піци</h2>
@using System.Text.RegularExpressions;

@{var i = 0;}
<section class="text-center mb-4">
    @{var item = @Model;}
    @{for (i = 0; i < @Model.Count; i++)
        {
    <div class="row wow fadeIn">
            <div class="col-lg-3 col-md-6 mb-4">
                <img src="~/img/@item[i].id .png" height=200 width=200 />
                Номер: @item[i].id
                Назва: @item[i].Name
                Ціна: @item[i].Price_pizza
                @{ if (User.Identity.IsAuthenticated)
                    {<a asp-controller="Pizza" asp-action="Pizza" asp-route-value="@item[i].id">Шаблон</a>}
                    else
                    {<strong>Для замовлення зареєструйтесь</strong>}
                }
            </div>
        @{i++;}
        @if (i == Model.Count) { break; }
    <div class="col-lg-3 col-md-6 mb-4">
        <img src="~/img/@item[i].id .png" height=200 width=200 />
        Номер: @item[i].id
        Назва: @item[i].Name
        Ціна: @item[i].Price_pizza
        @{ if (User.Identity.IsAuthenticated)
            {<a asp-controller="Pizza" asp-action="Pizza" asp-route-value="@item[i].id">Шаблон</a>}
            else
            {<strong>Для замовлення зареєструйтесь</strong>}
        }
    </div>
        @{i++;}
        @if (i == Model.Count) { break; }
    <div class="col-lg-3 col-md-6 mb-4">
        <img src="~/img/@item[i].id .png" height=200 width=200 />
        Номер: @item[i].id
        Назва: @item[i].Name
        Ціна: @item[i].Price_pizza
        @{ if (User.Identity.IsAuthenticated)
            {<a asp-controller="Pizza" asp-action="Pizza" asp-route-value="@item[i].id">Шаблон</a>}
            else
            {<strong>Для замовлення зареєструйтесь</strong>}
        }
    </div>
        @{i++;}
        @if (i == Model.Count) { break; }
    <div class="col-lg-3 col-md-6 mb-4">
        <img src="~/img/@item[i].id .png" height=200 width=200 />
        Номер: @item[i].id
        Назва: @item[i].Name
        Ціна: @item[i].Price_pizza
        @{ if (User.Identity.IsAuthenticated)
            {<a asp-controller="Pizza" asp-action="Pizza" asp-route-value="@item[i].id">Шаблон</a>}
            else
            {<strong>Для замовлення зареєструйтесь</strong>}
        }
    </div>
    </div>};
    }
</section>

