﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">
        Ласкаво просимо @{ if (User.Identity.IsAuthenticated)
            { @Diplom2.Models.DB.GetAuthUserName(User.Identity.Name) }
        }
    </h1>
    Піца (італ. pizza) — традиційна італійська страва, спочатку у вигляді круглого дріжджового коржика,
    що випікається з покладеною зверху начинкою з томатного соусу, сиру та часто інших інгредієнтів,
    таких як м'ясо, овочі, гриби та інші продукти. Невелику піцу іноді називають піцеттою. Кухар,
    який спеціалізується на приготуванні піци, – піцайоло.
</div>
<img src="~/img/pizza-03.jpg" />

