﻿@using System.Text.RegularExpressions;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@{var item = Diplom2.Models.DB.GetPizza(@Model[0])[0];
    var ingr = Diplom2.Models.DB.GetIngr(item.id);
    int[] ids = new int[ingr.Count];
    for (int i = 0; i < ingr.Count; i++)
    {
        ids[i] = ingr[i].id;
    }
    string jsonString = JsonSerializer.Serialize(ids);
}
<div class="text-center">
    <h1 class="display-4">@item.Name, Ціна: @item.Price_pizza</h1>
</div>
<img src="~/img/@item.id .png" height=200 width=200 />
<section class="text-center mb-4">
    <div class="row wow fadeIn">
        <div class="col-lg-3 col-md-6 mb-4">
            @{for (int i = 0; i < ingr.Count; i++)
                {
                    <div>
                        Номер: @ingr[i].id,
                        Назва: @ingr[i].Name,
                        Ціна за стандартну порцію: @ingr[i].Price_ingr,
                        <div class="slidecontainer">
                            <input type="range" min="0" max="2" value="1" class="slider" id="@ingr[i].id">
                        </div>
                    </div>

                }
            }

            <div>
                Розмір:
                <input type="range" min="1" max="3" value="2" class="slider" id="Size">
            </div>
            <div>
                Частина:
                <input type="range" min="1" max="4" value="4" class="slider" id="Part">
            </div>

        </div>
    </div>
    <div>
        <input type='button' id="submit" value='Розрахувати ціну' />
    </div>
    <div>
        <input id="save" type="button" value="Зберегти шаблон піци" />
    </div>
    <div id="modal" class="modal" tabindex="-1">
        <div id="dialog" class="modal-dialog">
        </div>
    </div>
    @section scripts
        {
        <script type="text/javascript">
                $("#submit").click(function () {
                    let ids = [ @jsonString ]
                    let arr = []
                    for (let i = 0; i < @ingr.Count; i++) {
                        arr.push($(`#${ids[0][i]}`).val())
                    }
                    var size = $('#Size').val()
                    var part = $('#Part').val()
                    var id = @item.id;
                    var b = JSON.stringify(arr)
                    var date = { size: size, part: part, b: b, id: id }
                    $.post("/Pizza/Summa", date, function (data) {
                        $('#dialog').html(data);
                        $('#modal').modal('show');
                    })
                })

        </script>
        <script>
$("#save").click(function () {
                    let ids = [ @jsonString ]
                    let arr = []
                    for (let i = 0; i < @ingr.Count; i++) {
                        arr.push($(`#${ids[0][i]}`).val())
                    }
                    var size = $('#Size').val()
                    var part = $('#Part').val()
                    var id = @item.id;
                    var b = JSON.stringify(arr)
                    var date = { size: size, part: part, b: b, id: id }
                    $.post("/Pizza/Save", date)
                })</script>
    }
</section>
