﻿
        <div class="modal-content">
            <div class="modal-header">
                Розрахована ціна
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>

            </div>
            <div class="modal-body">
                <div>Ціна: </div><strong id="result">@Model</strong>
            </div>
        </div>