﻿@using System.Text.RegularExpressions;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@{

    var bak = Diplom2.Models.DB.GetBakets(@Model);
}
<div class="text-center">
    <h1 class="display-4">Створення замовлення</h1>
</div>
<section class="text-center mb-4">
    <div class="row wow fadeIn">
        <div class="col-lg-3 col-md-6 mb-4">
            <div>
                <p>
                    <select id="baket" size="1" name="bake">
                        <option disabled>Кошик</option>
                        @{ for (int i = 0; i < bak.Count; i++)
                            {
                                <option value="@bak[i].id">@bak[i].Price_baket , @Diplom2.Models.DB.GetPizzaName(Diplom2.Models.DB.GetIdSamplePizza(Diplom2.Models.DB.GetBufferIdSample(bak[i].id)))</option>
                            }

                        }
                    </select>
                </p>
                <p>
                    Адреса:
                    <input id="adress" type="text" />
                </p><p>
                    Дата:
                    <input id="data" type="date" />
                </p><p>
                    Час:
                    <input id="time" type="time" />
                </p>

            </div>

        </div>
    </div>
    <div>
        <input id="save" type="button" value="Створити замовлення" />
    </div>
    @section scripts
        {
        <script>
            $("#save").click(function () {
                var id_baket = $('#baket').val()
                var adress = $('#adress').val()
                var data = $('#data').val()
                var time = $('#time').val()
                var date = { id_baket: id_baket, adress: adress, data: data, time: time }
                $.post("/Order/Save", date)
            })</script>
    <script>const options = {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
        }

        const date = new Date()
        date.setDate(date.getDate() + 1)

        const tomorrow = date.toLocaleString("ru", options).split('.').reverse().join('-')
        document.getElementById("data").setAttribute("min", tomorrow)</script>
    }
</section>