﻿@using System.Text.RegularExpressions;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@{

    var sampls = Diplom2.Models.DB.GetSamples(@Model);
    var add = Diplom2.Models.DB.GetAdd();
    int[] ids = new int[add.Count];
    for (int i = 0; i < add.Count; i++)
    {
        ids[i] = add[i].id;
    }
    string jsonString = JsonSerializer.Serialize(ids);
}
<div class="text-center">
    <h1 class="display-4">Кошик</h1>
</div>
<section class="text-center mb-4">
    <div class="row wow fadeIn">
        <div class="col-lg-3 col-md-6 mb-4">
            @{for (int i = 0; i < add.Count; i++)
                {
                    <div>
                        Номер: @add[i].id,
                        Назва: @add[i].Name,
                        Ціна за одну штуку: @add[i].Price_add,
                        <div class="slidecontainer">
                            <input type="range" min="0" max="2" value="0" class="slider" id="@add[i].id">
                        </div>
                    </div>

                }
            }

            <div>
                <p>
                    <select id="sample" size="1" name="sampl">
                        <option disabled>Шаблон</option>
                        @{ for (int i = 0; i < sampls.Count; i++)
                            {
                                <option value="@sampls[i].id">@sampls[i].Price , @Diplom2.Models.DB.GetPizzaName(sampls[i].id_pizza)</option>
                            }

                        }
                    </select>
                </p>
                <p>
                    Кількість:
                    <input id="Count" value="1" type="number" min="1" , max="3" />
                </p>
            </div>

        </div>
    </div>
    <div>
        <input type='button' id="submit" value='Розрахувати ціну' />
    </div>
    <div>
        <input id="save" type="button" value="Зберегти кошик" />
    </div>
    <div id="modal" class="modal" tabindex="-1">
        <div id="dialog" class="modal-dialog">
        </div>
    </div>
    @section scripts
        {
        <script type="text/javascript">
                $("#submit").click(function () {
                    let ids = [ @jsonString ]
                    let arr = []
                    for (let i = 0; i < @add.Count; i++) {
                        arr.push($(`#${ids[0][i]}`).val())
                    }
                    var b = JSON.stringify(arr)
                    var sample = $('#sample').val()
                    var count = $('#Count').val()
                    var date = {b: b, sample: sample, count: count}
                    $.post("/Baket/Summa", date, function (data) {
                        $('#dialog').html(data);
                        $('#modal').modal('show');
                    })
                })

        </script>
        <script>
$("#save").click(function () {
                    let ids = [ @jsonString ]
                    let arr = []
                    for (let i = 0; i < @add.Count; i++) {
                        arr.push($(`#${ids[0][i]}`).val())
                    }
                    var b = JSON.stringify(arr)
    var sample = $('#sample').val()
    var count = $('#Count').val()
    var date = { b: b, sample: sample, count: count }
                    $.post("/Baket/Save", date)
                })</script>
    }
</section>
